
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

html{
    --orange: #ffa100;
    --body-back: #2577ac;
    --cont: #296fa7;

    font-size: 62.5%;
}

body{
    height: 100vh;
    background: var(--body-back);
    padding-bottom: 2rem;
}

body, button, input, textarea, a{
    /* intervalo de tamanho*/
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: sans-serif;
}

.container{
    height: 100%;
    background: var(--cont);
    display: flex;
}

aside{
    width: 18.6rem;
    background: #fff;
}

aside .menu-logo{
    padding: 2.2rem 3.2rem;
}

aside .menu-logo img{
    width: 13rem;
}

aside #menu-pincipal li{
    padding: 3.6rem 2rem 2.5rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

aside #menu-pincipal li:hover{
    background: #f5f7f7;
    border-bottom: 1px solid #d9d9d9;
}

aside #menu-pincipal li.active{
    border-left: 5px solid var(--orange);
    background-color: #f5f7f7;
    background-image: url("../img/gr_linkAtivo.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid #d9d9d9;
}

aside #menu-pincipal li.active a{
    color: #32383b;
}

aside #menu-pincipal li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #70777b;
    font-size: 1.2rem;
    font-weight: 600;
}

aside #menu-pincipal li a img{
    width: 3.7rem;
    margin-bottom: 1.1rem;
}

main{
    flex: 1;
}