
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

html{
    --orange: #ffa100;
    --body-back: #2577ac;
    --cont: #296fa7;

    font-size: 62.5%;
}

body{
    height: 100vh;
    background: var(--body-back);
}

body, button, input, textarea, a{
    /* intervalo de tamanho*/
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: sans-serif;
}

/* inputs and buttons ***/

.button{
    background-color: var(--orange);
    display: inline-flex;
    padding: 1.2rem 2.5rem;
    box-shadow: 0px 2px 0 rgb(31 42 71 / 10%);
    border-radius: 0.2rem;
    color: #fff;
    align-items: center;
}

.button > img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.7rem;
}

.button:hover{
    filter: brightness(1.1);
}

.container{
    background: var(--cont);
    display: flex;
}

.rodape{
    height: 2rem;
    background: var(--body-back);
}

aside{
    width: 18.6rem;
    background: #fff;
}

aside .menu-logo{
    padding: 2.2rem 3.2rem;
}

aside .menu-logo img{
    width: 13rem;
}

aside #menu-pincipal li{
    border-left: 5px solid #fff;
    padding: 3.6rem 2rem 2.5rem 2rem;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

aside #menu-pincipal li:hover{
    background: #f5f7f7;
    border-bottom: 1px solid #d9d9d9;
}

aside #menu-pincipal li.active{
    border-left: 5px solid var(--orange);
    background-color: #f5f7f7;
    background-image: url("../img/gr_linkAtivo.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    border-bottom: 1px solid #d9d9d9;
}

aside #menu-pincipal li.active a{
    color: #32383b;
}

aside #menu-pincipal li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #70777b;
    font-size: 1rem;
    font-weight: 800;
}

aside #menu-pincipal li a img{
    width: 3.7rem;
    margin-bottom: 1.1rem;
}

aside #menu-pincipal .espaco{
    height: 26rem;
}

main{
    flex: 1;
}

main .main-conteudo{
    padding-right: 2rem;
}

/**** menu superior do lado esquerdo dentro do conteudo principal ***/

main .menus-conteudo{
    display: flex;
    justify-content: space-between;
}

main .menus-conteudo ul{
    display: flex;
    padding: 4.5rem 0 0 1.9rem;
}

main .menus-conteudo ul li a{
    display: inline-block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
}

main .menus-conteudo ul li a:hover{
    border-bottom: 1px solid #fff;
}

.menu-esquerda .menu-superior ul li{
    padding: 0.2rem 1.9rem 0 1.9rem;
    border-left: 0.2rem solid var(--orange);
}

.menu-esquerda .menu-superior ul li:last-child{
    border-right: 0.2rem solid var(--orange);
}

.menu-esquerda .menu-superior ul li a{
    font-size: 1.6rem;
    color: #fff;
    font-weight: 700;
}

/**** menu inferior do lado esquerdo dentro do conteudo principal ***/

.menu-esquerda .menu-inferior{
    margin-top: 1.5rem;
    padding: 0.9rem 0 0.9rem 3.5rem;
    border-bottom: 1px solid #3485c2;
}

.menu-esquerda .menu-inferior ul li{
    padding: 0 1.2rem;

}

.menu-esquerda .menu-inferior ul li a{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.menu-esquerda .menu-inferior ul li a img{
    margin-left: 0.5rem;
}

.menu-esquerda .menu-inferior ul li:last-child{
    font-weight: 700;
}

/**** menu superior do lado direito dentro do conteudo principal ***/

.menu-direita .menu-superior ul{
    padding-top: 3.7rem;
}

.menu-direita .menu-superior li{
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
}

.menu-direita .menu-superior li a{
    font-size: 1.3rem;
}

.menu-direita .menu-superior ul li:nth-child(6) img{
    width: 3rem;
}

.menu-direita .menu-superior ul li:nth-child(7) img{
    width: 8rem;
}

/**** menu inferior do lado direito dentro do conteudo principal ***/

.menu-direita .menu-inferior{
    display: flex;
}

.menu-direita .menu-inferior .input-search{
    display: flex;
    align-items: center;
}

.menu-inferior .input-search button{
    background: transparent;
}

.menu-inferior .input-search input{
    background: transparent;
    color: #fff;
    font-size: 1.4rem;
    outline: none;
}

.menu-inferior .input-search input::placeholder{
    color: rgb(167, 202, 224);
}